body { margin: 0; padding: 0; font-family: Arial, sans-serif; font-size: 14px; line-height: 150%; background: #eee; }
.headerContainerWrapper { background: #FFF; }
.center { max-width: 100%; margin: 0 auto; }
.headerContainer, .bodyContainer, .footerContainer { max-width: 960px; margin: 0 auto; background: #FFF; }
.padding {	padding: 20px; }
.bodyContainer { min-height: 500px; }
 
 
#container {
 width: 100%;/*1000px;*/
 overflow: hidden;
 margin: 10px auto;
 margin-top: 40px auto;
 background: gray;
}
/*photobanner*/
.photobanner {
 height: 233px;
 width: 10000px;
 /*margin-bottom: 20px;*/
}

/*keyframe animations*/
.first {
 -webkit-animation: bannermove 70s linear infinite;
    -moz-animation: bannermove 70s linear infinite;
     -ms-animation: bannermove 70s linear infinite;
      -o-animation: bannermove 70s linear infinite;
         animation: bannermove 70s linear infinite;
}
 
@keyframes bannermove {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -4825px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -4825px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -4825px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -4825px;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -4825px;
 }
 
}
.photobanner img {
}
 
.photobanner img:hover {
}
.menuBackground{
	background: white; /*background-color: white; /*#254441;*/
	text-align: left; /* or change the value to left to align left*/
	position: relative;
	height: 70px;
	width: 100%;/*
	left: 0px;
	top: 0px;*/
}

nav {
  margin: 0;
  padding: 0;
  background-color: rgba(255,255,255, 0.1);/*0.9); /*background-color: white; /*#254441;*/
  border-top-style: solid;
  border-top-color: rgba(255,255,255, 0.1);
  border-top-width: 10px;
  width: 100vw;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  position: fixed;
  width: 100%;
}

nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
  position: relative;
  background-color: white; /*#254441;*/
}

nav a {
  display: block;
  padding: 0 20px;
  color: black;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
	border-top-style: solid;
	border-top-color: white;
	border-top-width: 10px;
	width: 100%;
}

nav ul li ul li:hover { 
	background: white; /*#000000; */
	color: #FFB612;
/*	border-top-style: solid;
	border-top-color: #FFB612;
	border-top-width: 10px;*/
}

nav a:hover { 
	background-color: white; /*#000000; */
	color: #FFB612;
	border-top-style: solid;
	border-top-color: #FFB612;
	border-top-width: 10px;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
}

nav ul li:hover > ul { display: inherit; }

nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}

li > a:after { content: ' +'; }

.toggle, [id^=drop] {
 display: none;
}

li > a:only-child:after { content: ''; }


@media all and (max-width : 768px) {

#logo {
  display: block;
  padding: 0;
  width: 100%;
  text-align: center;
  float: none;
}

nav { margin: 0; }

.toggle + a,
 .menu { display: none; }

.toggle {
  display: block;
  background-color: white; /*#254441;*/
  padding: 0 20px;
  color: #FFF;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
  border: none;
}

.toggle:hover { background-color: #000000; }

[id^=drop]:checked + ul { display: block; }

nav ul li {
  display: block;
  width: 100%;
}

nav ul ul .toggle,
 nav ul ul a { padding: 0 40px; }

nav ul ul ul a { padding: 0 80px; }

nav a:hover,
 nav ul ul ul a { background-color: #000000; }

nav ul li ul li .toggle,
 nav ul ul a { background-color: #FFB612; }

nav ul ul {
  float: none;
  position: static;
  color: black;
}

nav ul ul li:hover > ul,
nav ul li:hover > ul { display: none; }

nav ul ul li {
  display: block;
  width: 100%;
}

nav ul ul ul li { position: static;

}
}

@media all and (max-width : 330px) {

nav ul li {
  display: block;
  width: 94%;
}

}