body { margin: 0; padding: 0; font-family: Arial, sans-serif; font-size: 14px; line-height: 150%; background: white; }
.headerContainerWrapper { background: white; }
.center { max-width: 100%; margin: 0 auto; }
.headerContainer, .bodyContainer, .footerContainer { max-width: 962px; margin: 0 auto; background: white; }
.padding {	padding: 20px; }
.bodyContainer { min-height: 500px; }
 
#peopleContainer{
	padding-bottom: 20px; 
}
#peopleContainer img{
	width: 150px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(189,189,189,1);
	-moz-box-shadow: 3px 3px 5px 0px rgba(189,189,189,1);
	box-shadow: 3px 3px 5px 0px rgba(189,189,189,1);
}
#personImage{
	width: 160px;
	float: left;
}
#personName{
	padding-left: 162px;
	font-size: 135%;
	font-weight: 800;
}
#personTitles{
	padding-left: 165px;
	font-size: 90%;
	font-weight:600;
}
 .imageBanner {
	 background: gray;
	 min-height: 200px;
	 min-width: 100%;
	 text-align: center;
	 position: relative;
	 z-index: -1;
	 overflow: hidden;
	 border-top-style: solid;
     border-bottom-style: solid;
     border-width: 4px;
 }
.imageBanner img{
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	min-width: 100%;
	opacity: 0;
}
.imageBanner a{
	color: white;
    position: absolute;
    left: 25px;
    top: 85px;
    font-size: 30px;
    font-weight: bold;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, .5);
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
#container {
 width: 100%;/*1000px;*/
 overflow: hidden;
 margin: 10px auto;
 margin-top: 40px auto;
 background: gray;
}
/*photobanner*/
.photobanner {
 height: 233px;
 width: 100%
 /*margin-bottom: 20px;*/
}

.photobanner img {
}
 
.photobanner img:hover {
}
.menuSpaceFiller{
	background: white; 
	position: relative;
	height: 64px;
	width: 100%;
}
.menuBackground{
	background: white;
	float: right;
	position: relative;
	height: 64px;
	width: 100%;
}

nav {
	list-style: none;
    width: 100%;
    background-color: white;
    height:60px;
	float: left;
	position: relative;
}

nav ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  width: 100%;
}

nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
  position: relative;
  background-color: white;
}

nav a {
  display: block;
  padding: 19px 25px;
  color: black;
  font-size: 22px;
  text-decoration: none;
}

nav ul li ul li:hover { 
	background: white;
	color: #FFB612;
}

nav a:hover { 
	background-color: white; 
	color: #FFB612;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 63px;
}

nav ul li:hover > ul { 
	display: inherit;
}

nav ul ul li {
  width: 100%;
  float: none;
  display: list-item;
  position: relative;
  background-color: #ffc441;
}
nav ul ul li:hover{
}
nav ul ul ul li {
  position: relative;
  top: -63px;
  left: 100%;
  background-color: #e5a310;
}


.toggle, [id^=drop] {
 display: none;
}

@media all and (min-width : 881px) {

nav a{
	border-top-style: solid;
	border-color: white; 
	border-width: 4px;
}
nav a:hover{
	border-top-style: solid;
	border-color: #ffb612;
	border-width: 4px;
}
nav ul ul li a{
	text-align: center;
}
nav ul ul ul li a{
	text-align: left;
}
nav ul ul li a:hover, nav ul ul ul li a:hover{
	border-color: #ffb612;
	border:none;
	box-shadow: 0px 3px 0px #FFB612 inset; 
}
nav ul ul li a, nav ul ul ul li a{
	font-size: 18px;
	padding: 10px 10px;
	border: none; 
	box-shadow: 0px 3px 0px #FFB612 inset; 
}
nav ul ul li:last-child a, nav ul ul ul li:last-child a{
	font-size: 18px;
	padding: 10px 10px;
	border: none;
	box-shadow: 0px 3px 0px #FFB612 inset;
	border-bottom-color: #FFB612;
	border-bottom-style: solid;
	border-bottom-width: 3px; 
}
}
@media all and (min-width : 881px) and (max-width : 1159px){
	
.menuSpaceFiller{
	background: white; 
	position: relative;
	height: 46px;
	width: 100%;
}
.menuBackground{
	background: white;
	float: right;
	position: relative;
	height: 46px;
	width: 100%;
}


nav {
	list-style: none;
    width: 100%;
    background-color: white;
    height:40px;
	float: left;
	position: relative;
}

nav ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  width: 100%;
}

nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
  position: relative;
  background-color: white;
}

nav a {
  display: block;
  padding: 11px 16px;
  color: black;
  font-size: 18px;
  text-decoration: none;
}

nav ul li ul li:hover { 
	background: white;
	color: #FFB612;
}

nav a:hover { 
	background-color: white; 
	color: #FFB612;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 43px;
}

nav ul li:hover > ul { 
	display: inherit;
}

nav ul ul li {
  width: 100%;
  float: none;
  display: list-item;
  position: relative;
  background-color: #ffc441;
}
nav ul ul li:hover{
}
nav ul ul ul li {
  position: relative;
  top: -43px;
  left: 100%;
  background-color: #e5a310;
}
nav a{
	border-top-style: solid;
	border-color: white; 
	border-width: 3px;
}
nav a:hover{
	border-top-style: solid;
	border-color: #ffb612;
	border-width: 3px;
}
nav ul ul li a{
	text-align: center;
}
nav ul ul ul li a{
	text-align: left;
}
nav ul ul li a:hover, nav ul ul ul li a:hover{
	border-color: #ffb612;
	border:none;
	box-shadow: 0px 2px 0px #FFB612 inset; 
}
nav ul ul li a, nav ul ul ul li a{
	font-size: 15px;
	padding: 6px 6px;
	border: none; 
	box-shadow: 0px 2px 0px #FFB612 inset; 
}
nav ul ul li:last-child a, nav ul ul ul li:last-child a{
	font-size: 15px;
	padding: 6px 6px;
	border: none;
	box-shadow: 0px 2px 0px #FFB612 inset;
	border-bottom-color: #FFB612;
	border-bottom-style: solid;
	border-bottom-width: 2px; 
}
}


/**
 * Media Screen for mobile and small browser
 */
 
@media all and (max-width : 881px) {
.menuSpaceFiller{
	background: white; /*background-color: white; /*#254441;*/
	position: relative;
	height: 40px;
	width: 100%;
}
.menuBackground{
	background: white; /*background-color: white; /*#254441;*/
	float: right;
	position: fixed;
	height: 40px;
	width: 100%;
}
.menuSpaceFiller{
	position: relative;
}
.menuBackground{
	position: relative;
}
/*
[id^=drop]:checked + li > a:after { content: ' +'; }
li > a:after { content: ' -'; } 
li > a:only-child:after { content: ''; }
*/
#logo {
  display: block;
  padding: 0;
  width: 100%;
  text-align: center;
  float: none;
}

nav { 
	margin: 0;
	position: relative;
    height:40px;
 }

.toggle + a,
 .menu { display: none; }

.toggle{
  display: block;
  background-color: white; /*#254441;*/
  padding: 0 20px;
  color: black;
  font-size: 20px;
  line-height: 40px;
  text-decoration: none;
  border: none;
  position: relative;
}

.toggle:hover { 
	background-color: black;
	color: #FFB612;
}

[id^=drop]:checked + ul { display: block; }

nav ul{
	position: relative;
}
nav ul a{
	display: block;
  background-color: white; /*#254441;*/
  padding: 0 10px;
  color: black;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  border: none;
  position: relative;
  padding: 0 10px;}
nav ul li {
  display: block;
  width: 100%;
}

nav ul ul .toggle,
 nav ul ul a { 
   display: block;
  background-color: white; /*#254441;*/
  padding: 0 15px;
  color: black;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  border: none;
  position: relative;
  padding: 0 15px; }

nav ul ul ul a {   display: block;
  background-color: white; /*#254441;*/
  color: black;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  border: none;
  position: relative;
  padding: 0 20px; }

nav a:hover { background-color: #000000; }
nav ul ul ul a { background-color: #FFcb59; 
}
nav ul ul ul a:hover { color: white; }

nav ul li ul li .toggle,
 nav ul ul a { background-color: #FFB612; }

nav ul ul {
  float: none;
  position: static;
  color: black;
}

nav ul ul li:hover > ul,
nav ul li:hover > ul { display: none; }

nav ul ul li {
  display: block;
  width: 100%;
}

nav ul ul ul li { position: static;

}
#peopleContainer{
	padding-bottom: 15px; 
}
#peopleContainer img{
	width: 130px;
}
#personImage{
	width: 135px;
	float: left;
}
#personName{
	padding-left: 137px;
	font-size: 135%;
	font-weight: 800;
}
#personTitles{
	padding-left: 140px;
	font-size: 90%;
	font-weight:600;
}
}
