body { margin: 0; padding: 0; font-family: Arial, sans-serif; font-size: 14px; line-height: 150%; background: #eee; }
.headerContainerWrapper { background: #FFF; }
.center { max-width: 100%; margin: 0 auto; }
.headerContainer, .bodyContainer, .footerContainer { max-width: 960px; margin: 0 auto; background: #FFF; }
.padding {	padding: 20px; }
.bodyContainer { min-height: 500px; }
 
#container {
 width: 100%;/*1000px;*/
 overflow: hidden;
 margin: 10px auto;
 margin-top: 40px auto;
 background: gray;
}
/*photobanner*/
.photobanner {
 height: 233px;
 width: 8050px;
 /*margin-bottom: 20px;*/
}

/*keyframe animations*/
.first {
 -webkit-animation: bannermove 30s linear infinite;
    -moz-animation: bannermove 30s linear infinite;
     -ms-animation: bannermove 30s linear infinite;
      -o-animation: bannermove 30s linear infinite;
         animation: bannermove 30s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -3225px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -3225px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -3225px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -3225px;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -3225px;
 }
 
}


/* Menu General Styles */
.menuBackground {
	background: white;/*#FFB612;*/
	text-align: left; /* or change the value to left to align left*/
	position: relative;
	height: 62px;
	width: 100%;/*
	left: 0px;
	top: 0px;*/
}
.dropDownMenu a {
	color: black;/*#FFF;*/
}
.dropDownMenu,
.dropDownMenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: Arial, sans-serif; 
	font-size: 22px;
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: rgba(255,255,255,0.9); /*background: white;*/
	width: 100%;	
}
.dropDownMenu li {
	position: relative;
}
.dropDownMenu a {
	padding: 20px 25px;
	display: block;
	text-decoration: none;
	border-top-style: solid;
/*	border-bottom-style: solid;*/
	border-color: white; /*#FFB612;*/
	border-size: 20px;
}
.dropDownMenu a:hover {
	background: white;
	border-top-style: solid;
/*	border-bottom-style: solid;*/
	border-color: #ffb612;/*red;*/
	border-size: 20px;
}


/* Level 1 Drop Down Menu */
.dropDownMenu > li {
	display: inline-block;
	vertical-align: top;
	margin-left: -4px; /* solve the 4 pixels spacing between list-items */
}
.dropDownMenu > li:first-child {
	margin-left: 0;
}
.dropDownMenu > li > a {}
.dropDownMenu > li > a:hover {
/*	border: none;*/
	color: #FFB612;
}



/* Level 2 */
.dropDownMenu > li > ul {
	color: black;
	font-weight: none;
	font-family: Arial, sans-serif; 
	font-size: 18px;
	text-align: center;
	width: 100%; /*auto; /* change auto value with 200px if you want a bigger menu */
	display: none;
	background: #ffc441;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 9999999;
}
.dropDownMenu > li:hover > ul {
	display: block;
}
.dropDownMenu ul li a {	
	border: none;
	border-top-style: solid;
/*	border-bottom-style: solid;*/
	border-color: #FFB612;
	border-size: 1px;
	padding: 10px 10px;
}
.dropDownMenu ul li:last-child a {	
	border: none;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: #FFB612;
	border-size: 1px;
}
.dropDownMenu ul li a:hover {
	border: none;
	border-top-style: solid;
/*	border-bottom-style: solid;*/
	border-color: #FFB612;
	border-size: 1px;
	color: black;
	background-color: white;
}
.dropDownMenu ul li:last-child a:hover {
	border: none;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: #FFB612;
	border-size: 1px;
	color: black;
	background-color: white;
}



/* Level 3 */
.dropDownMenu > li > ul > li > ul {
	font-weight: none;
	font-family: Arial, sans-serif; 
	font-size: 18px;
	text-align: left;
	display: none;
	background: #e5a310;
	position: absolute;
	left: 100%;
	top: 0;
	z-index: 9999999;
}
.dropDownMenu > li > ul > li:hover > ul {
	display: block;
	border: none;
}
.dropDownMenu ul ul li {}
.dropDownMenu ul ul li a {
	border: none;
	border-top-style: solid;
/*	border-bottom-style: solid;*/
	border-color: #FFB612;
	border-size: 1px;
}
.dropDownMenu ul ul li:last-child a {
	border: none;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: #FFB612;
	border-size: 1px;
}
.dropDownMenu ul ul li a:hover {
	border: none;
	border-top-style: solid;
/*	border-bottom-style: solid;*/
	border-color: #FFB612;
	border-size: 1px;
	color: black;
	background-color: white;
}
.dropDownMenu ul ul li:last-child a:hover {
	border: none;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: #FFB612;
	border-size: 1px;
	color: black;
	background-color: white;
}